[submodule "watchtower"]
	path = watchtower
	url = git@github.com:janboddez/watchtower.git
[submodule "aperture"]
	path = aperture
	url = git@github.com:janboddez/aperture.git
[submodule "camo"]
	path = camo
	url = https://github.com/atmos/camo.git
